body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

header{
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    width:100%;
}
.header_logo{
    display: block;
    margin: 0 auto;
    height: 50px;
}








.first {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F77E2E;
    color: #fff;
    padding: 100px 0;
}
.first h1{
    margin: 0 auto;
    font-weight: 600;
}

.first img.app1{
    width: 100%;
}
.first .applinks{
    margin: 40px auto;
}
.first .applinks img{
    width: 150px;
}
.carousel-cell {
    width: 100%;
    text-align: center;

}
.carousel-cell img{
    width: 80%;
    margin-bottom: 25px;
}
.carousel-cell p{
    font-size: 1.2em;
}
@media(max-width: 767px){
    .first{
        text-align: center;
    }

    .first img.app1{
        max-width: 250px;
    }
}



.features{
    padding: 100px 0;
}
.section-title{
    font-weight: 600;
    text-transform: uppercase;
}
.section-title-line{
    width: 150px;
    margin-left: 0;
    border-width: 3px;
    border-color:#ed4b38;
}
.features-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.features-list-item{
    text-align: center;
    margin-top: 50px;
}
.features-list-item img{
    width: 50%;
    margin-bottom: 25px;
}


@media(max-width: 767px){

    .section-title{
        text-align: center;
    }
    .section-title-line{
        margin: 0 auto;
    }
}